{% extends 'base.html' %}

{% block title %}
Обо мне
{% endblock %}

{% block body %}
    <div class="container">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Мое портфолио</h1>
            <h2 class="display-4"> Образование:</h2>
            <p class="lead"> Направление подготовки политология, профиль: российская политика. Государственный служащий, политический консультант. Федеральное государственное бюджетное образовательное учреждение высшего образования «Тульский государственный университет», город Тула, год окончания 2023.</p>
            <h2 class="display-4"> Дополнительное образование:</h2>
            <p class="lead">Профессиональная переквалификация в рамках проекта «Цифровые кафедры» в Тульском государственном университете по программе «Программирование на языке Python», год окончания 2023.</p>
            <h2 class="display-4"> Сертификаты и благодарности:</h2>
            <p class="lead">Ссылка на диск: https://disk.yandex.ru/d/Y-mXR6O6tzyhGQ </p>
        </div>
    </div>
{% endblock %}